<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <LinkTo @route="index" class="navbar-brand">Product App</LinkTo>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="nav navbar-nav">

        <NavLinkTo @route='index'>Home</NavLinkTo>
        <NavLinkTo @route='admin'>Admin</NavLinkTo>

        <button type="button" class="btn btn-default navbar-btn navbar-right" {{action 'openCheckout'}}>
          Shopping cart
          <span class="badge">{{shoppingCart.items.length}}</span>
        </button>

      </ul>

    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>

{{outlet 'modal'}}