{{#bs-navbar type="inverse" class="navbar-fixed-top"}}

  <div class="container">

    <div class="navbar-header">
      {{#bs-navbar-toggle}}
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      {{/bs-navbar-toggle}}
      {{link-to 'Product App' 'index' class="navbar-brand"}}
    </div>

    {{#bs-navbar-content}}
      {{#bs-navbar-nav}}

        {{#bs-nav-item}}
          {{link-to 'Home' 'index'}}
        {{/bs-nav-item}}

        {{#bs-nav-item}}
          {{link-to 'Admin' 'admin'}}
        {{/bs-nav-item}}

      {{/bs-navbar-nav}}
    {{/bs-navbar-content}}

  </div>
{{/bs-navbar}}

<div class="container">
  {{outlet}}
</div>